.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f0f4f8, #d8e3e7);
  }
  
  
  .diamond {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: rotate(45deg);
    border-radius: 10%;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      transform: rotate(45deg) scale(1);
      opacity: 1;
    }
    50% {
      transform: rotate(45deg) scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: rotate(45deg) scale(1);
      opacity: 1;
    }
  }
  